@ng-bootstrap:registry=https://registry.npmjs.org
@enable:registry=https://tfs.enable.com/tfs/EnableSourceCode/_packaging/Enable/npm/registry/
@enable-ux:registry=https://tfs.enable.com/tfs/EnableSourceCode/_packaging/Enable/npm/registry/
always-auth=true
